/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Modak&display=swap');

.App {
  text-align: center;
  /* width : 100%;
  height : 100%; */
}

.App-logo {
  width : 50x;
  height: 40vmin;
}

.App-header {
  font-size : 3rem;
  font-family: 'Modak', cursive;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.App-link {
  color: #09d3ac;
}

#audio-clips {
  margin : 100px;
}
